# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Build
dist/
build/
.wrangler/

# Environment
.env
.env.local
.env.development.local

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.DS_Store